<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
        <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso Google Analytics Bogota - Mostaza Studio</title>
    <link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/mostazalanding/css/foundation.css">
    <link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/mostazalanding/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
    <script src="https://use.fontawesome.com/48cf332b07.js"></script>
  </head>
  <body id="body_formulario">
    <div class="row expanded header_form">
      <div class="row titulos">
      <img src="https://s3-us-west-1.amazonaws.com/mostazalanding/css/img/logo_mostaza.png" class="float-center logo_form">
        <div class="column small-centered large-centered medium-centered small-12 memium-10 large-10">
          <h1 class="text-center titulo_principal" id="titulo_form">¡Domina Google Analytics hoy!</h1>
          <h3 class="text-center subtitulo">Regalanos tus datos y recibiras el plan de estudios, mas informacion<br>sobre nuestro curso y como acceder a el.</h3>
        </div>
      </div>
      <div class="row form">
      <form method="POST" action="thankyou/">{%csrf_token%}
        <div class="column small-centered large-centered medium-centered large-4 small-10 medium-6">
          <!--<input type="text" name="" placeholder="Nombre">
          <input type="text" name="" placeholder="Celular">
          <input type="email" name="" placeholder="Correo Electronico">-->
          {{form}}
          <input type="submit" name="" class="button warning expanded" value="DESCARGAR PLAN DE ESTUDIOS">
        </div>
        
      </form>
      </div>
      <div class="row">
        <div class="column small-centered medium-centered large-centered small-10 medium-10 large-10">
          <p class="text-center texto-imagen" id="texto_form">Recibiras un correo electronico con el Plan de Estudios del Curso de Google analytics<br>Un miembro de Mostaza Studio te contactara en menos de 24 horas para solucionar<br>todas tus dudas, preguntas e inquietudes</p>.
        </div>
      </div>
    </div>

    <script src="https://s3-us-west-1.amazonaws.com/mostazalanding/js/vendor/jquery.js"></script>
    <script src="https://s3-us-west-1.amazonaws.com/mostazalanding/js/vendor/what-input.js"></script>
    <script src="https://s3-us-west-1.amazonaws.com/mostazalanding/js/vendor/foundation.js"></script>
    <script src="https://s3-us-west-1.amazonaws.com/mostazalanding/js/app.js"></script>
  </body>
</html>
