<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso Google Analytics Bogota - Mostaza Studio</title>
    <link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/mostazalanding/css/foundation.css">
    <link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/mostazalanding/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
    <script src="https://use.fontawesome.com/48cf332b07.js"></script>
    <script type="text/javascript">
      
    </script>
  </head>
  <body>
  <div class="row column expanded header">
    <div class="row titulos">
      <div class="column small-centered large-centered small-12 medium-12 large-12">
        <img src="https://s3-us-west-1.amazonaws.com/mostazalanding/css/img/logo_mostaza.png" class="float-center logo">
        <h1 class="text-center titulo_principal">Aprende Google Analytics como un profesional</h1>
        <h3 class="text-center subtitulo">Con nuestro curso presencial en Bogotá aprenderas en profundidad todas las tecnicas, metodos y usos de Google Analytics para ser experto en Analitica Web.</h3>
        <h3 class="text-center subtitulo" id="fecha_inicio">¡Empezamos el 6 de Septiembre!</h3>
      </div>
      <div class="row botoncta">
        <div class=" column small-centered large-centered medium-centered small-10 medium-6 large-3">  
          <a href="/formulario" class="button expanded warning" id="cta">Aprender Google Analytics</a>        
        </div>
      </div>  
    </div>
  </div>
  <div class="row column expanded bloque2">
      <div class="row">
        <div class="column small-centered large-centered small-12 medium-12 large-10">
          <h2 class="text-center declaracion_refuerzo">Podras medir, analizar y optimizar tus campañas de mercado con Google Analytics</h2>
        </div>
      </div>
      <div class="row grilla2">
        <div class="row small-up-1 medium-up-1 large-up-4">
          <div class="column column-block">
            <img src="">
            <p class=" text-center texto-imagen">Configura y mide todo lo que pasa en tu portal o app con Google Analytics</p>
          </div>
          <div class="column column-block">
            <img src="">
            <p class=" text-center texto-imagen">Domina las principales metricas de analisis</p>
          </div>
          <div class="column column-block">
            <img src="">
            <p class=" text-center texto-imagen">Crea reportes y dashboard eficientes para la toma de desiciones</p>
          </div>
          <div class="column column-block">
            <img src="">
            <p class=" text-center texto-imagen">Aprende como analizar y optimizar los resultados de campañas</p>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="column small-centered large-centered small-10 medium-10 large-8">
        <h2 class="text-center declaracion_refuerzo">Descarga nuestro plan de estudios</h2>
      </div>
    </div>
    <div class="row boton">
      <div class="column small-centered large-centered small-10 medium-6 large-3">
        <a href="/formulario" class="button expanded warning">Aprender Google Analytics</a>
      </div>
    </div>
  </div>
  <div class="row bloque_quote expanded">
    <div class="column small-centered large-centered small-10 medium-10 large-8">
      <h3 class="quote text-center">"Lo que se mide, mejora"</h3>
      <p class="text-right autor">Peter Drucker</p>
    </div>
  </div>
  <div class="row expanded beneficios">
    <div class="row">
      <div class="column small-centered large-centered small-10 medium-10 large-8">
        <h2 class="declaracion_refuerzo text-center" id="beneficio_decla">Aprender haciendo, aprende con datos reales</h2>
      </div>
    </div>
    <div class="row grilla4">
      <div class="row small-up-1 medium-up-1 large-up-3">
        <div class="column column-block">
          <img src="https://s3-us-west-1.amazonaws.com/mostazalanding/css/img/data.png" class="float-center">
          <p class="text-center texto-imagen">No Conceptos, No lecturas. Domina Google analytics con casos, datos y ejercicios reales</p>
        </div>
        <div class="column column-block">
          <img src="https://s3-us-west-1.amazonaws.com/mostazalanding/css/img/reloj.png" class="float-center">
          <p class="text-center texto-imagen">4 horas semanales durante 4 semanas. En 1 mes ya eres experto en Google Analytics</p>
        </div>
        <div class="column column-block">
          <img src="https://s3-us-west-1.amazonaws.com/mostazalanding/css/img/projects.png" class="float-center">
          <p class="text-center texto-imagen">Puedes traer tus proyectos y campañas reales y trabajar en conjunto con ellas si quieres.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column small-centered large-centered small-10 medium-10 large-8">
        <h2 class="text-center declaracion_refuerzo">Empezamos clases el 6 de Septiembre</h2>
      </div>
     </div>
     <div class="row boton"> 
      <div class="column small-centered large-centered small-10 medium-6 large-3">
        <a href="/formulario" class="button expanded warning">Aprender Google Analytics</a>
      </div>
     </div> 
    </div>
  </div>
  <div class="row expanded requisitos">
    <div class="row">  
      <div class="column small-10 medium-7 large-7">
        <h3 class="text-right declaracion_refuerzo">Lo unico que necesitas, es querer mejorar tus estrategias de mercadeo</h3>
      </div>
      <div class="column small-10 medium-5 large-5">
        <ul class="listas fa-ul" id="requerimientos">
          <li><i class="fa-li fa fa-book fa-2x fa-lg" aria-hidden="true"></i>Conocimientos basicos de marketing</li>
          <li><i class="fa-li fa fa-mouse-pointer fa-2x fa-lg"></i>Familiaridad con medios digitales y redes sociales</li>
          <li><i class="fa-li fa fa-laptop fa-2x fa-lg"></i>Tu computador portatil</li>
          <li><i class="fa-li fa fa-graduation-cap fa-2x fa-lg"></i>Muchas Ganas de aprender....</li>
        </ul>
      </div>
    </div>  
  </div>
  <div class="row expanded cta_medio">
    <div class="row">  
      <div class="column small-centered large-centered small-10 large-12 medium-12">
        <h3 class="text-center declaracion_refuerzo" id="decla_cta_medio">¡Empieza a dominar Google Analytics hoy mismo!<br>Solicita mas información</h3>
      </div>
    </div>
    <div class="row boton">
      <div class="column small-10 medium-6 large-3 small-centered large-centered medium-centered">
        <a href="/formulario" class="button expanded warning">Aprender Google Analytics</a>
      </div>
    </div>  
  </div>
  <div class="row expanded profesor">
    <div class="row">
      <div class="column small-10 medium-10 large-8">
        <h3 class="text-left declaracion_refuerzo">Un profesor con experiencia y ganas de compartir</h3>
        <ul class="listas fa-ul">
          <li><i class="fa-li fa fa-university fa-2x fa-lg" aria-hidden="true"></i>Especialista en Marketing Digital, Emprendimiento, Growth Hacking y Data Science.</li>
          <li><i class="fa-li fa fa-calendar fa-2x fa-lg" aria-hidden="true"></i>Mas de 8 años en el mundo digital.</li>
          <li><i class="fa-li fa fa-book fa-2x fa-lg" aria-hidden="true"></i>Experiencia con clientes como Postobon, RCN, Tugo, Presto, Uff Movil, Farmatodo entre otros.</li>
          <li><i class="fa-li fa fa-globe fa-2x fa-lg" aria-hidden="true"></i>Consultor de mas de 50 Start-ups en Colombia y EEUU</li>
        </ul>
        <div class="row small-up-3 medium-up-6 large-up-6">
          <div class="column column-block">
            <img src="https://s3-us-west-1.amazonaws.com/mostazalanding/css/img/postobon.png">
          </div>
          <div class="column column-block">
            <img src="https://s3-us-west-1.amazonaws.com/mostazalanding/css/img/rcn.png">
          </div>
          <div class="column column-block">
            <img src="https://s3-us-west-1.amazonaws.com/mostazalanding/css/img/apps.png">
          </div>
          <div class="column column-block">
            <img src="https://s3-us-west-1.amazonaws.com/mostazalanding/css/img/wayra.png">
          </div>
          <div class="column column-block">
            <img src="https://s3-us-west-1.amazonaws.com/mostazalanding/css/img/tugo.png">
          </div>
          <div class="column column-block">
            <img src="https://s3-us-west-1.amazonaws.com/mostazalanding/css/img/presto.png">
          </div>
        </div>
      </div>
      <div class="column small-10 medium-10 large-4">
        <div class="row">
          <img src="https://s3-us-west-1.amazonaws.com/mostazalanding/css/img/mateo.png" id="foto_mateo">
        </div>
        <p class="text-center nombre">Mateo Peralta Sanchez</p>
        <div class="row">
            <a href="#"><img src="https://s3-us-west-1.amazonaws.com/mostazalanding/css/img/linkedin.png" id="boton_linkedin"></a>
        </div>  
      </div>
    </div>
  </div>
  <div class="row expanded social_proof">
    <div class="row">
      <div class="column small-centered medium-centered large-centered small-10 medium-10 large-8">
        <h3 class="text-center declaracion_refuerzo">Aprender Google Analytics genera resultados y crecimiento de tus campañas</h3>
      </div>
      <div class="orbit" role="region" aria-label="testimonios" data-orbit>
        <div class="orbit-wrapper">
          <ul class="orbit-container">
            <li class="is-active orbit-slide">
              <div class="row">
                <div class="column-block small-centered medium-centered large-centered">
                  <img src="">
                  <h5 class="text-center name_cliente">Rafael Mejia</h5>
                  <p class="text-center testimonio">Aprender Google Analytics ha cambiado mi vida de una manera increible, jamas pense lograrlo de esta manera. Todo es increible y genial</p>
                </div>
              </div>
            </li>
            <li class="orbit-slide" id="testimonio2">
              <div class="row">
                <div class="column-block small-centered medium-centered large-centered">
                  <img src="">
                  <h5 class="text-center name_cliente">Lina Cardenas</h5>
                  <p class="text-center testimonio">Aprender Google Analytics ha cambiado mi vida de una manera increible, jamas pense lograrlo de esta manera. Todo es increible y genial</p>
                </div>
              </div>
            </li>
            <li class="orbit-slide" id="testimonio3">
              <div class="row">
                <div class="column-block small-centered medium-centered large-centered">
                  <img src="">
                  <h5 class="text-center name_cliente">Nicolas Angel</h5>
                  <p class="text-center testimonio">Aprender Google Analytics ha cambiado mi vida de una manera increible, jamas pense lograrlo de esta manera. Todo es increible y genial</p>
                </div>
              </div>
            </li>
            <li class="orbit-slide" id="testimonio4">
              <div class="row">
                <div class="column-block small-centered medium-centered large-centered">
                  <img src="">
                  <h5 class="text-center name_cliente">Erika Arroyo</h5>
                  <p class="text-center testimonio">Aprender Google Analytics ha cambiado mi vida de una manera increible, jamas pense lograrlo de esta manera. Todo es increible y genial</p>
                </div>
              </div>
            </li>   
          </ul>
        </div>
        <nav class="orbit-bullets">
          <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
          <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
          <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
          <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
        </nav>
      </div>
    </div>
    <div class="row image_proof">
      <div class="column small-centered medium-centered large-centered small-10 medium-10 large-8">
        <img src="https://s3-us-west-1.amazonaws.com/mostazalanding/css/img/estudiantes.png" class=" float-center image_proof">
      </div>
    </div>
  </div>
  <div class="row expanded footer">
    <div class="row">
      <div class="column small-centered medium-centered large-centered small-10 medium-10 large-8">
        <h2 class="text-center argumento_cierre">Quedan los ultimos 5 cupos.<br>Conviertete en un profesional de Google Analytics</h2>
      </div>
      <div class="row botoncta">
        <div class="column small-centered medium-centered large-centered small-10 medium-6 large-3">
          <a href="/formulario" class="button expanded warning">Aprender Google Analytics</a>
        </div>
      </div>
    </div>
  </div>
    <script src="https://s3-us-west-1.amazonaws.com/mostazalanding/js/vendor/jquery.js"></script>
    <script src="https://s3-us-west-1.amazonaws.com/mostazalanding/js/vendor/what-input.js"></script>
    <script src="https://s3-us-west-1.amazonaws.com/mostazalanding/js/vendor/foundation.js"></script>
    <script src="https://s3-us-west-1.amazonaws.com/mostazalanding/js/app.js"></script>
    <script type="text/javascript">
      function GetURLParameter(sParam){
        console.log(sParam);
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split("&");
        for(var i=0; i< sURLVariables.length; i++){
          var sParameterName = sURLVariables[i].split("=");
          if(sParameterName[0]== sParam){
            return sParameterName[1];
          }
        }
      }
      $(document).ready(function() {
        $("#cta").on("click", function() {
          var get_params = "";
          var href = $(this).attr("href");
          get_params +="?utm_source=" +  GetURLParameter("utm_source");
          get_params += "&utm_medium=" + GetURLParameter("utm_medium");
          get_params += "&utm_campaign=" + GetURLParameter("utm_campaign");
          get_params += "&utm_content=" + GetURLParameter("utm_content");

          $(this).attr("href", href + get_params);
        });
    </script>
 

  </body>
</html>
