<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carogobot for Carriers</title>
    <link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/mostazalanding/css/foundation.css">
    <link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/mostazalanding/css/app.css">
  </head>
  <body>
    <div class="row expanded header column">
      <div class="row">
        <div class="column">  
          <img src="img/cargobot.png" class="float-center logo">
         </div>
      </div>
      <div class="row">
        <div class="column small-centered medium-centered large-centered">
          <h1 class="titulo_principal text-center">Take part of the 3TN.<br>Take the power of negotation</h1>
        </div>
      </div>
      <div class="row">
        <div class="column small-centered medium-centered large-centered">
          <h3 class="subtitulo text-center">With CargoBot, you take part of a transparent truck transportation netwotk (3TN)<br>that believes the poweer of negotation should be in the carrier's hands.</h3>
        </div>
      </div>
      <div class="row">
        <div class="button-group small-centered medium-centered large-centered large-6 medium-6 stacked-for-small stacked-for-medium">
          <a href="/formulario" class="button botones">REGISTER FOR FREE NOW</a>
          <a href="" class="button botones">WATCH VIDEO</a>
        </div>
      </div>
    </div>
    <div class="row expanded bloque_2 column">
      <div class="row">
        <div class="column small-centered medium-centered large-centered">
          <h2 class="declaraciones text-center">No Intermediaries!<br>Negotiate directly with shippers!</h2>
        </div>
        <div class="column small-centered medium-centered large-centered">
          <p class="decla_sub_w text-center">CargoBot is a channel between you and your potential clients.<br>They post their shiptment needs and you decide if it's the right load for you</p>
        </div>  
      </div>
      <div class="row small-up-1 medium-up-1 large-up-3 grilla">
        <div class="column column-block ">
          <img src="img/more_loads.png" class="float-center">
          <br>
          <p class="textos_w text-center">MORE LOADS</p>
          <p class="textos_w text-center">Receive new loads instantly</p>
        </div>  
        <div class="column column-block">  
          <img src="img/bid_negotiate.png" class="float-center">
          <br>
          <p class="textos_w text-center">BID AND NEGOTIATE</p>
          <p class="textos_w text-center">Negotiate directly with shipper. See the lowest bid being offered</p>
        </div>  
        <div class="column column-block">  
          <img src="img/close_deal.png" class="float-center">
          <br>
          <p class="textos_w text-center">CLOSE THE DEAL</p>
          <p class="textos_w text-center">Make more money on your own terms.</p>
        </div>
      </div>
    </div>
        <div class="row expanded bloque_3 column">
      <div class="row">
        <div class="column small-centered medium-centered large-centered">
          <h2 class="declaraciones text-center" id="decla_3">Same process, but better!</h2>
        </div>
        <div class="column small-centered medium-centered large-centered">
          <p class="decla_sub_b text-center">Connecting you to a network of shippers through technology, backed by a committed team.</p>
        </div>  
      </div>
      <div class="row small-up-1 medium-up-1 large-up-3 grilla">
        <div class="column column-block ">
          <img src="img/guaranteed_payment.png" class="float-center">
          <br>
          <p class="textos text-center">GUARANTEED PAYMENT</p>
          <p class="textos text-center">Choose when you want to get paid; CargBot pays you out.</p>
        </div>  
        <div class="column column-block">  
          <img src="img/no_paperwork.png" class="float-center">
          <br>
          <p class="textos text-center">NO MORE PAPERWORK</p>
          <p class="textos text-center">All peperwork is now stored electronically ( Rate confirmation, BOL, POD, Invoice)</p>
        </div>  
        <div class="column column-block">  
          <img src="img/transparency.png" class="float-center">
          <br>
          <p class="textos text-center">TRANSPARENCY</p>
          <p class="textos text-center">CargoBot has no hiddon agendas, know your profit before moving a load</p>
        </div>
      </div>
    </div>
    <div class=" row expanded bloque_4">
      <div class="row">
        <div class="column small-centered medium-centered large-centered ">
          <h2 class="declaraciones text-center cierre">Be one of the first 100<br>carriers to access.</h2>
        </div>
        <div class="column small-centered medium-centered large-centered text-center">
          <a href="" class="button boton_cierre">REQUEST PRIME ACCESS</a>
          <br>
          <p class="textos_w">Are you a shipper? <a href="">Click here</a></p>
          </div>
          <div class="row">
            <div class="column large-4 small-12 medium-2 small-centered medium-centered large-centered">
              <div class="row small-up-3 medium-up-3 large-up-3 grilla_social gutter-small">
                <div class="column column-block ">
                  <a href=""><img src="img/linkedin.png" class="float-center"></a>
                </div>
                <div class="column column-block ">
                  <a href=""><img src="img/facebook.png" class="float-center"></a>
                </div>
                <div class="column column-block ">
                  <a href=""><img src="img/instagram.png" class="float-center"></a>
                </div>
              </div>
            </div>
            <p class="text-center textos_w">Copiright Cargobot. All rights reserverd.</p>
          </div>
        </div>
      </div>
    <script src="https://s3-us-west-1.amazonaws.com/mostazalanding/js/vendor/jquery.js"></script>
    <script src="https://s3-us-west-1.amazonaws.com/mostazalanding/js/vendor/what-input.js"></script>
    <script src="https://s3-us-west-1.amazonaws.com/mostazalanding/js/vendor/foundation.js"></script>
    <script src="https://s3-us-west-1.amazonaws.com/mostazalanding/js/app.js"></script>
  </body>
</html>